/* 
  Універсальний селектор
  Селектор тегу
  Селектор по id
  Селектор класу
  Селектор атрибута
  Селектор нащадка
  Дочірній селектор
*/

/* Універсальний селектор */
/* * {
  margin: 0;
  color: tomato;
} */

/* Селектор тегу */
/* h1 {
  color: tomato;
}

p {
  color: teal;
}

ul,
ol {
  list-style: none;
} */

/* Селектор по id */
/* #main-title {
  color: tomato;
}

#description {
  color: teal;
}

#secondary-description {
  color: teal;
} */

/* Селектор класу */
/* .main-title {
  color: tomato;
}

.description {
  color: teal;
} */

/* Селектор атрибута */
/* [href="https://www.google.com/"]
{
  color: tomato;
} */

/* Селектор нащадка */
/* .menu .menu-link {
  color: teal;
} */

/* Дочірній селектор */
/* body > .menu > .menu-item > .menu-link {
  color: tomato;
} */

/* Специфічність селекторів */
/* 100 */
/* #desc {
  color: blueviolet;
} */

/* 11 */
/* body .description {
  color: yellowgreen;
} */

/* 1 */
/* p {
  color: teal;
} */

/* 10 */
/* .description {
  color: tomato;
} */

/* Наслідування */
/* .description {
  color: teal;
}

body {
  font-size: 40px;
  color: tomato;
} */
